*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-container
{
    background-image: linear-gradient(rgb(12, 6, 67), rgb(52, 6, 79));
    width: 100%;
    height: auto;
    border-bottom: 3px solid orangered;  
}
.Allcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 10px;
    flex-wrap: wrap;
}
.all{
    width: 220px;
    height: auto;
    border-radius: 10px;
}
.Allcontainer p
{
    font-size: 16px;
    font-weight: bold;
}
.Allcontainer img {
    width: 280px;
    height: 200px;
    border-radius: 10px;
}
.ProFileTitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
/*--------------------------------------------------------------
# main Section Work
--------------------------------------------------------------*/    
.btn-container
{
    margin-left: 40%;
}
button a
{
    text-decoration: none; 
}
.Allcontainer .ProfileAll
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.Allcontainer .profile-name
{
    font-size: 12px;
    margin-left: -14px;
}
.Allcontainer .views
{
    font-size: 12px;
    margin-left: 50px;
}
.DrowImg
{
    display: none;
    width: 10%;
    height: 15%;
    margin: auto;
    margin-top: 10%;
}
#Opps
{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}
.BluePro
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
}
.post_date
{
   margin-left: 22%;
    
}

.Blogs
    {
        width: 75%;
    }

/*--------------------------------------------------------------
# media Query  Section 
--------------------------------------------------------------*/
@media (max-width: 576px) { 

    .btn-container {
        margin-left: 10%;
    }
    .logo
    {
        width: 146px;
    }


    .p-5 {
        padding: 3rem!important;
    }
    
    .Blogs
    {
        width: 100%;
    }
    .DrowImg {
        display: none;
        width: 40%;
        height: 15%;
        margin: auto;
        margin-top: 10%;
    }
}

